* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-color: black;
}

.container {
  background-color: rgb(219, 218, 255);
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  background-color: rgb(52, 16, 172);
  margin: 0 auto;
  width: 800px;
  padding: 50px 150px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.input-name {
  font-family: inherit;
  width: 300px;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  border: none;
  color: rgb(52, 16, 172);
  background-color: rgb(255, 255, 255, 0.7);
}

.input-name::placeholder {
  font-family: inherit;
  color: rgb(52, 16, 172, 0.5);
}

.add-item {
  color: white;
  background-color: rgb(52, 16, 172);
  border: 2px solid white;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  font-weight: bold;
}

.input-item {
  background: none;
  margin: 0 auto;
  width: 800px;
  padding: 50px 150px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 34px;
  border: 5px solid rgb(52, 16, 172);
}

.btn-done {
  color: white;
  background-color: red;
  border: 2px solid red;
  height: 34px;
  width: 100px;
  border-radius: 5px;
  font-weight: bold;
}
